.container{
    background-color: brown;
    height: 500px;
    border: 3px solid black;
    display: grid; 
}

.box{
    background-color: aqua;
    border: 3px solid black; 
    width: 80px;
    height: 80px;
}