.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#abc{
    background-color: red;
}
#bb{
    background-color: green;
}
#cc{
    background-color: blue;
}