:root{
    --bark-red:#b222b2;
}
.container{
    border: 1px solid black;
    background-color: yellow;
    height: 300px;
    width: 300px;
   background-color: var(--bark-red);
}
.box{
    border: 2px solid red;
    background-color: green;
    
    /* variable */
    --bark-red: #443744;
    background-color: var(--bark-red);
}