.container{
    width: 100%;
    height: 215px;
    background-color: yellow;
    border: 2px solid red;
}

.box{
    height: 212px;
    width: 212px;
    border: 2px solid green;
    background-color: aqua;

    animation-name: dhiraj;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-direction: normal;
    animation-direction:alternate;

}

@keyframes dhiraj {
    0%{
        width: 212px;
        background-color: aqua;
    }
    30%{
        width: 35%;
        background-color: aquamarine;
    }
    65%{
        width: 70%;
        background-color: blue;
    }
    100%{
        width: 100%;
        background-color: skyblue;
    }
}


/* @keyframes dhiraj {
    from{
        width: 212px;
    }
    to{
        width: 800px;
    }
} */