h1{
    text-shadow: 3px 3px 5px red;
    text-shadow: 3px 3px 3px red,6px 6px 6px green;
}
.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    box-shadow: 10px 10px 15px green;
    color: white;
    box-shadow: 10px 10px 15px green,40px 10px 50px aqua;
}