.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    grid-gap: 4px;

    grid-template-areas: 
        "hd hd" 
        "side main" 
        "ft ft";
}
.box{
    border: 1px solid red;
    background-color: aqua;

}
#header{
    grid-area: hd;
}
#sidebar{
    grid-area: side;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: ft;
}

.childgrid{
    border: 1px solid lightblue;
    background-color: rgb(146, 146, 86);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);

    grid-gap: 5px;

    /* grid-template-areas: 
        "hdd"" 
        "sidee"
        "mainn" 
        "ftt"; */
}

.element{
    border: 1px solid rgb(46, 75, 223);
    background-color: sandybrown;

}
/* #B1{
    grid-area: hdd;
}
#B2{
    grid-area: sidee;
}
#B3{
    grid-area: mainn;
}
#B4{
    grid-area: ftt;
} */
