*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.button{
    padding: 0.8rem 2.3rem;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 5px 5px 7px #0000003f;
    position: relative;
    z-index: 1;
}
.button::before{
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;
}
.button:hover::before{
    transform: scaleX(1);
    
}